<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header" ss-style-color="{'background-color': 'primary.default'}">
        <a ng-href="#/" class="logo">
            <h1 class="md-heading">Angular Material Sidenav</h1>
        </a>
    </header>

    <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}">
        <ss-sidenav flex menu="menu"></ss-sidenav>
    </md-content>
</md-sidenav>

<div layout="column" flex role="main">
    <div ui-view layout="column"></div>
</div>